[core]
    autocrlf = input
    excludesfile = ~/.gitignore.global
    pager = less -r
[color]
    ui = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    st = status
    br = branch
    co = checkout
    graph = log --graph --oneline --decorate
    cm = commit -m
    and = add -n
    df = diff

