[core]
    autocrlf = input
    excludesfile = ~/.gitignore.global
    pager = less -r
    editor = vim -c \"set fenc=utf-8\"
[color]
    ui = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    st = status
    br = branch
    co = checkout
    graph = log --graph --oneline --decorate
    cm = commit -m
    and = add -n
    df = diff
    dfc = diff --cached

[user]
# user.nameやemailが設定されていない時にデフォルトの環境変数を用いない
    useConfigOnly = true
